footer {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(197, 65, 65, 0.87);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1%;
}