
.countdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    color: white;
    
}

.countdown-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

#timer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 1.5rem;
}

#timer div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timer span {
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(225, 255, 0.6);
}