@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Rubik+Glitch&display=swap");

.header {
  padding: 1rem;
  color: rgb(0, 0, 0);
  /* background-color: rgba(95, 5, 20, 0.2); */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  display: flex;
  gap: 10px;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.anxiety {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
}

nav {
  padding: 20px;
  display: flex;

  gap: 10px;
}

a {
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  background-color: white;
  padding: 10px;
  border-radius: 50px;
}

a:hover {
  color: rgba(0, 0, 0, 0.6);
}
